

h1 { 
    
    font-family: Arial, Arial, Helvetica, sans-serif; 
    font-style: italic;
    font-size: 40px;
    }

p { 
    font-family: "Times New Roman", Times, serif; 
    font-style: normal;
    font-size: 30px;
    }

p { 
    font-family: “Times”; 
    font-size: 15px; 
    }

body { width: 20px; }
